<!DOCTYPE html>
<html>
<head>
    <title> {{title }} </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <ul>
    {% for m in menu %}
        <li> <a href="{{ url_for( m.url )}}"> {{ m.name }}</a></li>
    {% endfor %}
    </ul>

    {% if submission %}

        {{ submission.code }}
        <br>
        {{ submission.status }}
        <br>
        {{ submission.submitted_at}}
        <br>
        {{ submission.passed_tests}}/{{submission.total_tests}}
    {% else %}
        NO
    {% endif %} 
</body>
</html>
