<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Submissions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <ul>
        {% for m in menu %}
            <li><a href="{{ url_for(m.url) }}">{{ m.name }}</a></li>
        {% endfor %}
    </ul>

    <div class="page-header">
        {% if submissions %}
            <span class="submissions-count">{{ submissions|length }} submissions</span>
        {% endif %}
    </div>


    <div class = "submission_panel">
        <table>
            <thead>
                <tr>
                    {% for column in columns %}
                    <th> {{ column }} </th>
                    {% endfor %}
                </tr>   
            </thead>
            <tbody>
                {% for submission in submissions %}
                    <tr>
                        <td> {{ submission.task.task_name }} </td>
                        <td> {{ submission.status }} </td>
                        <td> {{ submission.passed_tests }} / {{ submission.total_tests }}</td>
                        <td> {{ submission.submitted_at.strftime('%d.%m.%Y %H:%M')}} </td>
                    
                {% endfor %}
                        <td> link to details </td>
                    </tr>
            </tbody>

        </table>

    </div>


</body>
</html>