<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Submissions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <ul>
        {% for m in menu %}
            <li><a href="{{ url_for(m.url) }}">{{ m.name }}</a></li>
        {% endfor %}
    </ul>


    <div class = "submission-panel">
        <table>
            <thead>
                <tr>
                    {% for column in columns %}
                    <th> {{ column }} </th>
                    {% endfor %}
                </tr>   
            </thead>
            <tbody>
                {% for submission in submissions %}
                    <tr>
                        <td> {{ submission.task.task_name }} </td>
                        <td> {{ submission.status }} </td>
                        <td> {{ submission.passed_tests }} / {{ submission.total_tests }}</td>
                        <td> {{ submission.submitted_at.strftime('%d.%m.%Y %H:%M') }} </td>
                        <td> <a href="{{ url_for('simple_routes.submission_detailed', submission_id=submission.submission_id) }}"> Go to details</a> </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>


</body>
</html>