<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <ul>
        {% for m in menu %}
        <li><a href="{{ url_for(m.url) }}"> {{m.name}} </a></li>
        {% endfor %}
    </ul>

<form method="POST" action="{{ url_for('teacher_bp.add_task') }}">

    <div>
        <label for="task_name">Task name:</label><br>
        <input type="text" id="task_name" name="task_name" rows="1" required></textarea>
    </div>
    <br>

    <div>
        <label for="task_description">Task description:</label><br>
        <textarea id="task_description" name="task_description" rows="5" required></textarea> 
    </div>
    <br>

    <div>
        <label for="test_cases">Open test cases (JSON format):</label><br>
        <textarea id="test_cases" name="test_cases" rows="5" required></textarea>
        <!-- placeholder=' [
  {
    "input": "1 2 3 4",
    "output": "6"
  },
  {
    "input": "10 15 20",
    "output": "30"
  }
] '
'-->
    </div>
    <br>

    <div>
        <label for="hidden_test_cases">Hidden test cases (JSON format):</label><br>
        <textarea id="hidden_test_cases" name="hidden_test_cases" rows="5"></textarea>
    </div>
    <br>

    <div>
        <label for="memory_limit">Memory Limit (MB):</label>
        <input type="number" id="memory_limit" name="memory_limit" value="128" step="64" required>
    </div>
    <br>

    <div>
        <label for="time_limit">Time Limit (sec):</label>
        <input type="number" id="time_limit" name="time_limit" value="2" step="1" required>
    </div>
    <br>

    <button type="submit">Create Task</button>
</form>
</body>

</html>