<!DOCTYPE html>
<html>
    <head>
        <title> {{ title }} </title>
        <meta charset="utf-8">
    </head>
    <body>
        {{
            menu
        }}
        <form method="POST" action="{{ url_for('login_page') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>

            <button type="submit">Submit</button>
    </form>
    </body>
</html>