<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }} ">
</head>
<body>
    <ul>
        {% for m in menu %}
        <li><a href="{{ url_for(m.url) }}">{{ m.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>Settings of {{ user }}</h2>

    <form method = "POST" action = "{{ url_for('settings')}}">
        <label for = "new_username">You can change your username</label>
        <input type = "text" id = "new_username" name = "new_username">
        
    </form>
    <br>
    <br>
    
    <form method="POST" action="{{ url_for('settings') }}">
        <label for="password">Enter your current password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>

        <label for="new_password">Enter your new password:</label>
        <input type="password" id="new_password" name="new_password" required>
        <br><br>

        <button type="submit">Submit</button>
    </form>

    <br>
    <form action="{{ url_for('logout') }}" method="GET">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
