<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }} ">
</head>
<body>
    <ul>
        {% for m in menu %}
        <li><a href="{{ url_for(m.url) }}">{{ m.name }}</a></li>
        {% endfor %}
    </ul>
<form method="POST" action="{{ url_for('routes_bp.signup_page') }}">
    <label for="first_name">Name</label>
    <input type="text" id="first_name" name="first_name" required><br><br>

    <label for="last_name">Last name</label>
    <input type="text" id="last_name" name="last_name" required><br><br>

    <label for="username">Username</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required><br><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>
